# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on: push

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 22
        cache: 'npm'
        cache-dependency-path: app/package-lock.json
    - run: cd ./app && npm ci
    - run: |
        curl -JLO "https://dl.filippo.io/mkcert/latest?for=linux/amd64"
        chmod +x mkcert-v*-linux-amd64
    - run: cd ./app && ../mkcert-*-linux-amd64 localhost
      env:
            DATABASE_URL: ${{ secrets.DATABASE_URL }}
            DATABASE_AUTH_TOKEN: ${{ secrets.DATABASE_AUTH_TOKEN }}
            DATABASE_REPLICA: ${{ secrets.DATABASE_REPLICA }}
            DATABSE_SYNC: ${{ secrets.DATABSE_SYNC }}
            ORIGIN: ${{ secrets.ORIGIN }}
    - run: cd ./app && npm run build --if-present
